<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3>Service order details:</h3>
            <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div class="form-group mt-3">
                <h5>Service order <b>#{{serviceOrder.serviceNumber}}</b> information:</h5>
                <div>
                    <label class="mandatory">*</label>
                    <label>Title:</label>
                    <input type="text" class="form-control" placeholder="Enter service order title" formControlName="title" [value]="serviceOrder.serviceTitle" minlength="1" maxlength="255"
                    [ngClass]="{
                        'border-success': updateForm.get('title')?.valid && updateForm.get('title')?.touched,
                        'border-danger': !updateForm.get('title')?.valid && updateForm.get('title')?.touched
                    }"
                    >
                    <small *ngIf="!updateForm.get('title')?.valid && updateForm.get('title')?.touched"
                            class="form-text text-danger">Invalid title
                    </small>
                </div>
                <div>
                    <label class="mandatory">*</label>
                    <label>Date:</label>
                    <input type="date" class="form-control" placeholder="Enter service order date" formControlName="date" [value]="serviceOrder.serviceDate | date: 'yyyy-MM-dd'"
                    [ngClass]="{
                        'border-success': updateForm.get('date')?.valid && updateForm.get('date')?.touched,
                        'border-danger': !updateForm.get('date')?.valid && updateForm.get('date')?.touched
                    }"
                    >
                    <small *ngIf="!updateForm.get('date')?.valid && updateForm.get('date')?.touched"
                            class="form-text text-danger">Invalid date
                    </small>
                </div>
                <div>
                    <label class="mandatory">*</label>
                    <label>Value (R$):</label>
                    <input type="number" class="form-control" placeholder="Enter service order value" formControlName="value" [value]="serviceOrder.serviceValue" min="1" max="10000"
                    [ngClass]="{
                        'border-success': updateForm.get('value')?.valid && updateForm.get('value')?.touched,
                        'border-danger': !updateForm.get('value')?.valid && updateForm.get('value')?.touched
                    }"
                    >
                    <small *ngIf="!updateForm.get('value')?.valid && updateForm.get('value')?.touched"
                            class="form-text text-danger">Invalid value
                    </small>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="col">
                        <h5>Client information:</h5>
                        <div>
                            <label class="mandatory">*</label>
                            <label>CPF:</label>
                            <input type="text" class="form-control" placeholder="Enter client CPF" formControlName="clientCpf" maxlength="11" minlength="11" (keydown)="onlyAllowNumbers($event)"
                            [ngClass]="{
                                'border-success': updateForm.get('clientCpf')?.valid && updateForm.get('clientCpf')?.touched,
                                'border-danger': !updateForm.get('clientCpf')?.valid && updateForm.get('clientCpf')?.touched
                            }"
                            >
                            <small *ngIf="!updateForm.get('clientCpf')?.valid && updateForm.get('clientCpf')?.touched"
                                class="form-text text-danger">Invalid CPF
                            </small>
                        </div>
                        <div>
                            <label class="mandatory">*</label>
                            <label>Name:</label>
                            <input type="text" class="form-control" placeholder="Enter client name" formControlName="clientName"
                            [ngClass]="{
                                'border-success': updateForm.get('clientName')?.valid && updateForm.get('clientName')?.touched,
                                'border-danger': !updateForm.get('clientName')?.valid && updateForm.get('clientName')?.touched
                            }"
                            >
                            <small *ngIf="!updateForm.get('clientName')?.valid && updateForm.get('clientName')?.touched"
                                class="form-text text-danger">Invalid name
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <h5>Service executer information:</h5>
                        <div>
                            <label class="mandatory">*</label>
                            <label>CNPJ:</label>
                            <input type="text" class="form-control" placeholder="Enter service executer CNPJ" formControlName="serviceExecuterCnpj" maxlength="14" minlength="14" (keydown)="onlyAllowNumbers($event)"
                            [ngClass]="{
                                'border-success': updateForm.get('serviceExecuterCnpj')?.valid && updateForm.get('serviceExecuterCnpj')?.touched,
                                'border-danger': !updateForm.get('serviceExecuterCnpj')?.valid && updateForm.get('serviceExecuterCnpj')?.touched
                            }"
                            >
                            <small *ngIf="!updateForm.get('serviceExecuterCnpj')?.valid && updateForm.get('serviceExecuterCnpj')?.touched"
                                class="form-text text-danger">Invalid CNPJ
                            </small>
                        </div>
                        <div>
                            <label class="mandatory">*</label>
                            <label>Name:</label>
                            <input type="text" class="form-control" placeholder="Enter service executer name" formControlName="serviceExecuterName"
                            [ngClass]="{
                                'border-success': updateForm.get('serviceExecuterName')?.valid && updateForm.get('serviceExecuterName')?.touched,
                                'border-danger': !updateForm.get('serviceExecuterName')?.valid && updateForm.get('serviceExecuterName')?.touched
                            }"
                            >
                            <small *ngIf="!updateForm.get('serviceExecuterName')?.valid && updateForm.get('serviceExecuterName')?.touched"
                                class="form-text text-danger">Invalid name
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5 mt-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-success" [disabled]="updateForm.untouched || isFormUnchanged() || !updateForm.valid" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
                <span class="mx-2"></span>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete confirmation:</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete service order <b>#{{serviceOrder.serviceNumber}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update confirmation:</h5>
            </div>
            <div class="modal-body">
                Your service order with number <b>#{{ serviceOrder.serviceNumber }}</b> was updated successfully!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="success()">Close</button>
            </div>
        </div>
    </div>
</div>