<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="secao">
                <h2 class="text-center">Service Orders</h2>
            </div>
            <hr>
            <div>
                <ul *ngFor="let serviceOrder of serviceOrders" class="list-group" id="task-list">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title">{{serviceOrder.serviceTitle}}</h5>
                            <p class="card-text">Service number: <b>#{{serviceOrder.serviceNumber}}</b></p>
                            <div>
                                <p>Client Name: {{serviceOrder.client.name}}</p>
                                <p>Value: {{serviceOrder.serviceValue | currency:'BRL'}}</p>
                                <p>Execution Date: {{serviceOrder.serviceDate | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <button class="btn btn-success btn-sm me-2">Edit</button>
                                <button class="btn btn-primary btn-sm me-2" [routerLink]="['/detail-service-order', serviceOrder.id]" routerLinkActive="router-link-active" >More Details</button>
                                <button class="btn btn-danger btn-sm me-2">Delete</button>
                            </div>
                        </div>
                    </li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</main>
